@page
@model ErrorModel
@{
    ViewData["Title"] = "Hírek";
}
<header>

    <div id="headpic" <img src="/fusion-medical-animation-EAgGqOiDDMg-unsplash.jpg"/>
    <h1 class="align-middle">Magyarországi Koronavírus Tájékoztató</h1>
</div>
    <h1>@ViewData["Title"]</h1>
</header>
<body>
<h3>Development Mode</h3>
<p>
    Swapping to the <strong>Development</strong> environment displays detailed information about the error that occurred.
</p>
    </body>


