@page
@model PrivacyModel
@{
    ViewData["Title"] = "Időrend";
}

<div id="headpic" <img src="/fusion-medical-animation-EAgGqOiDDMg-unsplash.jpg"/>
    <h1 class="align-middle">Magyarországi Koronavírus Tájékoztató</h1>
</div>
<h1>@ViewData["Title"]</h1>

<p>Blabla.</p>
