@page
@model PrivacyModel
@{
    ViewData["Title"] = "Főoldal";
}



<h1>@ViewData["Title"]</h1>
<div id="headpic" <img src="/fusion-medical-animation-EAgGqOiDDMg-unsplash.jpg"/>
    <h1>Magyarországi Koronavírus Tájékoztató</h1>
</div>