@page
@model PrivacyModel
@{
    ViewData["Title"] = "Főoldal";
}




<div id="headpic" <img src="/fusion-medical-animation-EAgGqOiDDMg-unsplash.jpg"/>
    <h1>Magyarországi Koronavírus Tájékoztató</h1>
</div>